.profile__info {
  max-width: 336px;
  margin: 0 0 0 30px;
  display: grid;
  flex-grow: 1;
  grid-template-columns: 294px 1fr;
  align-self: center;
  column-gap: 18px;
}

@media screen and (max-width: 1024px) {
  .profile__info {
    max-width: 282px;
    grid-template-columns: 189px 1fr;
    column-gap: 10px;
  }
}
