.login__button {
    margin: 216px 0 15px;
    width: 358px;
    min-height: 50px;
    padding: 14px 84px;
    background-color: #fff;
    color: #000;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.login__button:hover {
    opacity: .6;
}

@media screen and (max-width: 747px) {
    .login__button {
        width: 320px;
        font-size: 14px;
        margin-bottom: 45px;
    }
}