.element__like {
  background: url(../../../images/like.svg) no-repeat center;
  width: 22px;
  height: 19px;
  border: none;
  cursor: pointer;
  flex-shrink: 0;
  margin-right: 6px;
}

.element__like:hover {
  opacity: 0.6;
}
